# Python
__pycache__/
*.py[cod]
*.so
.venv/
env/
venv/
# Environment & Secrets
.env
# Docker & Persistence
*.log
.DS_Store
# Spark & Checkpoints
checkpoint/
*.spark-checkpoint/
spark-warehouse/

#MINIO runtime artifact
task2_minio_data/

# Datasets
/Cities
/REF_SMS

.vscode/