# PostgreSQL Configuration
POSTGRES_DB=city_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password_secure_123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# SQLAlchemy Database URL (drivername://username:password@host:port/database)
DATABASE_URL=postgresql+asyncpg://postgres_user:postgres_password_secure_123@postgres:5432/city_db

# Redis Configuration 
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password_secure_123

# Apache Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_TELEMETRY=city_request_telemetry

# 22-character Base64 encoded UUID required by Kafka KRaft mode
# Generate new: python3 -c "import uuid, base64; print(base64.urlsafe_b64encode(uuid.uuid4().bytes).decode('utf-8').rstrip('='))"
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# FastAPI Configs
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

